*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;

}
:root
{
    --bg-color:#1f1f21;
    --text-color:#fff;
    --main-color:#ffae00;

    --big-font:7rem;
    --p-font:1.1rem;
}
body
{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header{
    position:fixed;
    top:0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 15%;
    align-items: center;
    z-index: 1000;
    background: transparent;
    transition: all ease .45s;


}
.logo
{
    color: var(--text-color);
    font-size: 40px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}
.navbar a{
    font-size:var(--p-font) ;
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}
.navbar a:hover{
    color: var(--main-color);
    
}
     .navbar>li > .navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}

.menu-btn{
    background: linear-gradient(130deg,#383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid  #3b3b3b ;
    display: flex;
    align-items: center;
}

#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

section
{
    padding: 0 15%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-img{
    width: 500px;
    height: 500px;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.home-text span{
    /* padding: 5px 25px; */
    background: linear-gradient(130deg,#383528 0%, #191919 100%);
    box-shadow: 0px 30px 50px #00000070;
    border-radius: 100px;
    border: 1px solid  #3b3b3b ;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    color:var(--main-color);
}
.home-text h1{
    font-size: var(--big-font);
    margin: 23px 0;
}
.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    background: var(--main-color);
    padding: 14px 34px;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;

}
.btn:hover{
    transform: translate(-5px);
    color: var(--main-color);
    background: transparent;
}

.two{
    background: #141414;
    border: 2px solid #141414;
    color: var(--text-color);
    margin-left: 25px;

}
.two:hover{
    color: #141414;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}
/*  */


.flex-center{
    display: flex;
    justify-content:center;
    align-items: center;
}
/* about */

.about{
    padding: 100px 0;
    position: relative;
}

.container-abt{
    position: relative;
    flex-direction: column;
}
.about .container-abt .content-about{
    column-gap: 40px;
    width: 100%;
}
.content-about img{
    max-width: 100%;
    min-width: 500px;
    border-radius: 10px;
}
.about-info .about-txt{
   max-width: 600px;
}

.about-info h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--main-color);
}
.about-info .about-txt h4 span {
    color: var(--main-color);
}
.about-info .about-txt h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
   
}
.about-info span{
    color:rgb(192, 191, 191);
}

.about-info .about-txt p{
    color:rgb(192, 191, 191);
    font-size: 1em;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
}
.about-info .professional{
    display: flex;
    column-gap: 100px;
}
.about-info .professional .list-item h3{
    font-size: 2.5em;
    font-weight: 700;
}

.about-info .professional .list-item span{
    font-size: 1em;
    font-weight: 700;
}

.about-img{
    width: 500px;
    height: 500px;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

/* services */

.services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span{
    color: var(--main-color);
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-gap: 20px;
    margin-top: 50px;
    
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-style: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px orangered,
                1px 1px 40px yellowgreen;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 15px;
    font-weight: 500;
     margin-bottom: 15px; 
}

.services-list div:hover{
    transform: translateY(-20px);

}
.container-ser{
    padding: 90px;
}


/* skills */

.skills .container-skill{
    background: linear-gradient(130deg,#383528 0%, #191919 100%);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}
.skills .container-skill .row{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.skills .container-skill .bar{
    margin-bottom:15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    transition: 0.3s ease;
}
.skills .container-skill .bar:hover{
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
    cursor: pointer;
}

.skills .container-skill .bar .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container-skill .bar .info span{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

/* projects */


.projects .sub-title{
    margin-top: 20px;
}
.filter-btn{
    margin: 2rem;
    text-align: center;
}
.filter-btn .fi-btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}

.filter-btn .fi-btn:hover{
    color: var(--main-color);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    gap:2rem;
}
.image-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: orange;
}

.imag{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
}
.imag img{
    width:100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.proj-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.2),#ffae00);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;

}

.proj-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.proj-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}
.proj-content a{
    background: #fff;
    border-radius: 50%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid var(--main-color);
    outline: 2px solid #fff;
}

.proj-content a i{
    font-size: 1.3rem;
    color: var(--main-color);
}


.image-box:hover .proj-content{
    opacity: 1;
}
.image-box:hover .proj-content
{
    transform: scale(1.1rem);
}

/* clients */

.our-client .container-client{
    flex-direction: column;
}

.our-client .container-client .content-client{
    width: 100%;
}
.client-swiper .swiper-wrapper
{
    margin-bottom: 30px;
}

.client-swiper .swiper-slide{
    gap: 50px;
    margin: 20px 0;
    display: flex;
    /* margin-left: 50px; */
}
.client-img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;   
}
.client-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-details{
    max-width: 500px;
}
.client-details p{
    font-size: 1.2rem;
    color: white;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(218, 126, 6);
}

.client-details h3{
    color: #fff;
    font-size:1.1rem ;
}

.client-details span{
    color: #fff;
    font-size:.8rem ;
}
.swiper-button-next:after, .swiper-button-prev:after{
    content:'';
}

.swiper-button-next, .swiper-button-prev{
    color: #ffae00;
    font-size: 3em;
  

}
.swiper-pagination-bullet, .swiper-pagination-bullet-active{
    background:#ffae00; ;
}




/* contact */

.contact, .container-contact, .content{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.contact-left h2{
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;

}
.contact-list li{
    margin-bottom: 40px;
}
.contact-list li h3{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li span{
    margin-left: 40px;
    color: #ffae00;
}

.contact-list li h3 i{
    color: #ffae00;
    font-size: 1.3em;
    margin-right: 10px;
}

.contact-list li span a{
    color: var(--text-color);
    
}
.contact-right p{
    color: rgb(207, 163, 104);
    font-size: 1.5em;
    margin-bottom: 30px;

}
.contact-right p span{
    color: rgb(196, 196, 190);
    font-weight: 700;

}

.contact-form input, .contact-form textarea{
    border: none;
    color: black;
    background: gray;
    font-size: 15px;
    margin: 10px 0;
    padding: 15px 30px 30px 20px;
    border-radius: 5px;
}

.contact-form textarea{
    width: 100%;
    resize: none;
}

::placeholder{
    color: #292e33;
}
.contact-form .first-row input{
    width: 100%;
}

.contact-form .second-row{
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input{
    width: 48%;
}

.contact-form .btn{
    border: none;
    margin-top: 0;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}



/* footer */


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #141414;
    width: 100%;
    margin-top: 20px;
    padding: 3rem 2rem;
    color: #fff;
}

footer a{
    color: #fff;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
}

.footer-container .about h2{
    font-size: 3em;
    font-weight: 600;
    background: linear-gradient(to top,transparent 0%,#fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
}

.footer-container .footer-about p{
    font-weight: 300;
    margin-bottom: 30px;
    
}

.footer-container .info,
.footer-container .follow{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul{
    display: flex;
}

.footer-container .info a{
    margin: 20px;
}

.footer-container .follow a{
    font-size: 1.5em;
    margin: 20px;
}

.footer-copyright p{
    font-weight: 300;
    margin-top: 50px;
}

.footer-container .follow ul li a:hover{
    color: var(--main-color);
}
.footer-container .info ul li a:hover{
    color: var(--main-color);
}




/* ----------- */
.share{
    position: absolute;
    bottom: 3rem;
    left:15%;
    display: flex;
    align-items: center;
}

.share p{
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;

}
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130deg,#383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid  #3b3b3b ;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}
.social i:hover
{
    transform: translateY(-10px);
}


/* media queries */

@media (max-width:1850px)
{
    header{
        position: fixed;
        padding: 15px 8%;
        transition: .2s;

    }
    section{
        padding: 0 8%;
        transition: .2s;

    }
    .share{
        left: 8%;
        transition: .2s;
    }
}

@media (max-width:1370px)
{
    header{
        padding: 15px 4%;
        transition: .2s;

    }
    section{
        padding: 0 4%;
        transition: .2s;

    }
    .share{
        left: 4%;
        transition: .2s;
    }
    :root{
        --big-font:5.5rem;
        --p-font:1rem;
        transition: .2s;
    }
}

@media (max-width:1020px)
{
    .navbar a{
        margin: 0 15px;
    }
    :root{
        --big-font:5.5rem;
        --p-font:1rem;
        transition: .2s;
    }
}

@media (max-width:950px)
{
    .share{
        display: none;
    }
   .section{
    padding: 70px 4%;
   }
header{
    padding: 11px 4%;
    background: #2d2d2d;
}
.home{
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.home-text{
    order: 2;

}
.home-img{
    margin: auto;
    height: auto;
    width: auto;
}

.home-img img{
    max-width: 450px;
    width: 100%;
    height: auto;
}

}

@media (max-width:850px)
{
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }

    .navbar a{
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2rem;
        font-weight: 400;
    }

    .navbar.open{
        left: 0;
    }
}

@media (max-width:500px)
{
    :root{
        --big-font:4rem;
        --p-font:15px;
        transition: .2s;
    }
    .btn{
        padding: 9px 28px;
    }
}

.home-img img{
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}
